<header class="cabecalho">
    <div class="container">
        <h1 class="titulo">
             <span class="agentes" >agencia</span>
            <a class="titu" href="#" onclick="location.reload() ">X</a>
        </h1>
        <nav class="cabecalho-nav">
            <a href="#" class="cabecalho-nav-link" routerLink="/criarConto">criar</a>
            <a href="#" class="cabecalho-nav-link" routerLink="/listarConto" >relatos</a>
            <a href="#" class="cabecalho-nav-link">avistamentos</a>
            <a href="#" class="cabecalho-nav-link">sobre</a>
        </nav>
    </div>
</header>
