.conteudo{
    background-image: url("../../src/assets/imagens/fundo-space.jpg");
    background-size: cover;
    margin: auto;
    height: auto;
    min-height: 90vh;
   
    border: 5px solid var(--roxo-escuro);
    padding: 15px;
}
.conteudo-container{
    background-image: url("../../src/assets/imagens/textura-papel-velho.jpg");
    background-size: cover;
    flex-wrap: wrap;
    min-height: 70vh;
    
    margin: auto;
    width: 70%;
    font-family: 'syne mono', monoscope;
    padding: 15px;
    text-align: center;
    color: rgb(59, 56, 56);
    font-size: 50px;
    
    font-weight: 300;
    padding-top: 50px;
}