/* You can add global styles to this file, and also import other style files */
:root{
    --roxo-escuro: #251D3A;
    --roxo-claro: #2A2550 ;
    --laranja-forte: #E04D01;
    --laranja: #FF7700;
    }
     body{
         background-color: black;
         margin: 0;
     }
    
     /* cores
      roxo-escuro(#251D3A)
      roxo-claro(#2A2550)
      laranja-forte(#E04D01)
      laranja(#FF7700) */
      